*.log
.idea
.eslintcache

# Dependency directories
node_modules/

# Build directory
dist/
public/
.DS_Store

.fluence/
# so we have stable peer ids for tests
!.fluence/provider-secrets.yaml
provider.yaml
