.github
.eslintcache
pnpm-lock.yaml

node_modules
dist
build
public

.fluence

**/CHANGELOG.md
# TODO: remove after pnpm-set-deps will add \n symbol at the end of these files
**/package.json

packages/core/js-client-isomorphic/src/versions.ts
__snapshots__
packages/@tests/aqua/src/_aqua/**
